.mainpage {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.buyMenu {
  text-align: left;
}
.buyMenu:hover {
  cursor: pointer;
}

#header {
  font-size: 40px;
  text-decoration: underline;
  font-weight: bold;
  border-bottom: none;
  margin-bottom: none;
}

#myButton {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #555555; /* Black */
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#myButton:hover {
  background-color: #333;
}

#count {
  font-weight: bold;
  font-size: 25px;
}

#buyMenu {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-decoration: underline;
  border-top: none;
  margin-top: none;
  color: white;
  padding-left: 10px;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4CAF50; /* Black */
  margin-left: -40px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.btn:hover {
  background-color: green;
}
/* COST BUTTONS */
#autoCost {
  display: inline;
}
#dCost {
  display: inline;
}
#tCost {
  display: inline;
}
#fCost {
  display: inline;
}
#gCost {
  display: inline;
}
#tenCost {
  display: inline;
}
#thousandCost {
  display: inline;
}
#tenKCost {
  display: inline;
}
#godCost {
  display: inline;
}

/* FOOTER */
#footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  position: fixed;
  font-weight: bold;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(78, 149, 172); */
  color: black;
  text-align: center;
}
